.btn {
	display: inline-block;
	padding: 0.8rem 1rem;
	color: #fff;
	background-color: var(--purple);
	&:hover {
		color: var(--green);
	}
}
.btn-green {
	background-color: var(--green);
	&:hover {
		color: var(--purple);
	}
}
.btn-sm {
	padding: 0.4rem 0.7rem;
	font-size: 0.8rem;
}
