.btn {
  display: inline-block;
  padding: 0.8rem 1rem;
  color: #fff;
  background-color: var(--purple); }
  .btn:hover {
    color: var(--teal); }

.btn-teal {
  background-color: var(--teal); }
  .btn-teal:hover {
    color: var(--purple); }

.btn-sm {
  padding: 0.4rem 0.7rem;
  font-size: 0.8rem; }
