@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
** Vars
*/
:root {
  --purple: #5e3c93;
  --green: #00a0ac;
  --grey: #58595b;
  --grey-light: #f0f0f0;
  --blue: #28aae2;
  --green2: #a6cb3b;
  --yellow: #ffc618;
  --orange: #f26b29;
  --pink: #d52c91;
  --font-sm: 13px; }

.purple {
  color: var(--purple); }

.purple-bg {
  background-color: var(--purple);
  color: #fff; }
  .purple-bg h2,
  .purple-bg h3,
  .purple-bg h4 {
    color: #fff; }

.green-bg {
  background-color: var(--green);
  color: #fff; }
  .green-bg h2,
  .green-bg h3,
  .green-bg h4 {
    color: #fff; }

.grey-bg {
  background-color: var(--grey);
  color: #fff; }
  .grey-bg h2,
  .grey-bg h3,
  .grey-bg h4 {
    color: #fff; }

.light-grey-bg {
  background-color: var(--grey-light); }

.blue-bg {
  background-color: var(--blue);
  color: #fff; }
  .blue-bg h2,
  .blue-bg h3,
  .blue-bg h4 {
    color: #fff; }

.green2-bg {
  background-color: var(--green2);
  color: #fff; }
  .green2-bg h2,
  .green2-bg h3,
  .green2-bg h4 {
    color: #fff; }

.yellow-bg {
  background-color: var(--yellow);
  color: #fff; }
  .yellow-bg h2,
  .yellow-bg h3,
  .yellow-bg h4 {
    color: #fff; }

.orange-bg {
  background-color: var(--orange);
  color: #fff; }
  .orange-bg h2,
  .orange-bg h3,
  .orange-bg h4 {
    color: #fff; }

.pink-bg {
  background-color: var(--pink);
  color: #fff; }
  .pink-bg h2,
  .pink-bg h3,
  .pink-bg h4 {
    color: #fff; }

.font-sm {
  font-size: var(--font-sm); }

svg {
  display: inline-block; }

p {
  margin-bottom: 20px; }

ul {
  list-style-type: disc;
  margin-left: 25px;
  margin-bottom: 20px; }

/* 
** wp overrides 
*/
body {
  font-family: montserrat;
  color: var(--grey);
  font-weight: 300; }

h1 {
  font-size: theme("fontSize.4xl");
  font-weight: bold;
  margin: 10px 0; }

h2 {
  font-size: theme("fontSize.2xl");
  font-weight: bold;
  margin: 10px 0;
  color: var(--purple); }

h3 {
  font-size: theme("fontSize.xl");
  font-weight: bold;
  margin: 10px 0;
  color: var(--purple); }

h4 {
  font-size: theme("fontSize.lg");
  color: var(--purple); }

@media only screen and (min-width: 768px) {
  h1 {
    font-size: theme("fontSize.6xl"); }
  h2 {
    font-size: theme("fontSize.3xl"); }
  h3 {
    font-size: theme("fontSize.2xl"); }
  h4 {
    font-size: theme("fontSize.xl"); } }

#fax {
  visibility: hidden;
  opacity: 0; }
