@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
** Vars
*/
:root {
  --purple: #5d3c92;
  --teal: #26bb9d;
  --grey: #5c5c5c;
  --blue: ##5ba9cf;
  --red: #fa5d6a;
  --font-sm: 13px; }

.purple {
  color: var(--purple); }

.purple-bg {
  background-color: var(--purple);
  color: #fff; }

.teal-bg {
  background-color: var(--teal);
  color: #fff; }

.grey-bg {
  background-color: var(--grey);
  color: #fff; }

.blue-bg {
  background-color: var(--blue);
  color: #fff; }

.red-bg {
  background-color: var(--red);
  color: #fff; }

.font-sm {
  font-size: var(--font-sm); }

/* 
** wp overrides 
*/
body {
  font-family: montserrat; }
