.sub-menu {
  display: none; }
  .sub-menu:hover {
    display: block;
    z-index: 1; }

ul.menu {
  list-style-type: none;
  margin: 0; }

#primary-menu {
  display: none;
  height: 100%;
  align-items: center; }
  #primary-menu .menu-item {
    font-size: var(--font-sm);
    font-weight: 400;
    color: var(--body-color);
    margin: 0 10px; }
    #primary-menu .menu-item:hover {
      color: var(--green); }

@screen lg {
  #primary-menu {
    display: flex; } }

.secondary-menu {
  display: none;
  background-color: var(--purple);
  color: #fff;
  width: 100%;
  box-shadow: inset 0px -6px 14px 0px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .secondary-menu .menu-header-sub-nav-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    padding: 0 1.25rem; }
  .secondary-menu li {
    list-style-type: none; }
  .secondary-menu ul.menu {
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .secondary-menu ul.menu > li {
      font-size: 0.9rem;
      font-weight: normal;
      position: relative; }
      .secondary-menu ul.menu > li > a {
        padding: 1.25rem;
        display: inline-block; }
        .secondary-menu ul.menu > li > a:hover {
          color: var(--purple); }
      .secondary-menu ul.menu > li:first-child {
        margin-left: 0.1rem; }
      .secondary-menu ul.menu > li:last-child {
        margin-right: 0.1rem; }
      .secondary-menu ul.menu > li:hover {
        background-color: var(--green); }
        .secondary-menu ul.menu > li:hover > ul.sub-menu {
          display: block;
          z-index: 1; }
  .secondary-menu ul.sub-menu {
    position: absolute;
    left: 0;
    background-color: var(--green);
    min-width: 100%;
    width: 20rem;
    padding: 1rem 1.25rem;
    margin: 0; }
    .secondary-menu ul.sub-menu > li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
      .secondary-menu ul.sub-menu > li:last-child {
        border: 0; }
      .secondary-menu ul.sub-menu > li a {
        display: inline-block;
        padding: 0.5rem 0;
        font-weight: normal;
        font-size: 0.75rem; }
        .secondary-menu ul.sub-menu > li a:hover {
          color: var(--purple); }

@screen lg {
  .secondary-menu {
    display: flex; } }
