// primary
#primary-menu {
	display: none;
	height: 100%;
	align-items: center;
	.menu-item {
		font-size: var(--font-sm);
		font-weight: 400;
		color: var(--body-color);
		margin: 0 10px;
		&:hover {
			color: var(--green);
		}
	}
}
@screen lg {
	#primary-menu {
		display: flex;
	}
}
// secondary
.secondary-menu {
	display: none;
	background-color: var(--purple);
	color: #fff;
	width: 100%;
	.menu-header-sub-nav-container {
		width: 100%;
		max-width: 80rem;
		margin: auto;
		padding: 0 1.25rem;
	}
	ul.menu {
		display: flex;
		width: 100%;
		justify-content: space-between;
		> li {
			font-size: 0.9rem;
			font-weight: normal;
			position: relative;
			> a {
				padding: 1.25rem;
				display: inline-block;
			}
			&:first-child {
				margin-left: 0.1rem;
			}
			&:last-child {
				margin-right: 0.1rem;
			}
			&:hover {
				background-color: var(--green);
				> ul.sub-menu {
					display: block;
				}
			}
		}
	}
	ul.sub-menu {
		display: none;
		position: absolute;
		left: 0;
		background-color: var(--green);
		min-width: 100%;
		width: 20rem;
		padding: 1rem 1.25rem;
		> li {
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			&:last-child {
				border: 0;
			}
			a {
				display: inline-block;
				padding: 0.5rem 0;
				font-weight: normal;
				font-size: 0.75rem;
			}
		}
	}
}
@screen lg {
	.secondary-menu {
		display: flex;
	}
}
